Abhishek Room Projects/Abalone age prediction/flows (1).json
[{"id":"43f4c521.8d7e2c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f9658f6.d27ac7","type":"inject","z":"43f4c521.8d7e2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["a53eb1f3.12c57"]]},{"id":"a53eb1f3.12c57","type":"http request","z":"43f4c521.8d7e2c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":330,"y":80,"wires":[["909d7654.dae6d8","85af6760.93c4f8"]]},{"id":"909d7654.dae6d8","type":"debug","z":"43f4c521.8d7e2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"85af6760.93c4f8","type":"function","z":"43f4c521.8d7e2c","name":"prediction input","func":"var token=msg.payload.token;\nvar len=global.get(\"len\");\nvar diam=global.get(\"diam\");\nvar hyt=global.get(\"hyt\");\nvar ww=global.get(\"ww\");\nvar sw=global.get(\"sw\");\nvar vw=global.get(\"vw\");\nvar shellw=global.get(\"shellw\");\nvar gender0=global.get(\"gender0\");\nvar gender1=global.get(\"gender1\");\nmsg.payload={\"fields\":[\"Gender0\",\"Gender1\",\"Length\",\"Diameter\",\"Height\",\"Whole Weight\",\"Shucked Weight\",\"Viscera Weight\",\"Shell Weight\"],\"values\":[[gender0,gender1,len,diam,hyt,ww,sw,vw,shellw]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["293fac78.f23034"]]},{"id":"293fac78.f23034","type":"http request","z":"43f4c521.8d7e2c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/323c62ec-3bcb-4411-911d-42f5d3df125d/deployments/be6d8907-93ce-4309-861e-e6ab926d8ef6/online","tls":"","proxy":"","authType":"basic","x":570,"y":260,"wires":[["65fd7393.75e01c"]]},{"id":"65fd7393.75e01c","type":"function","z":"43f4c521.8d7e2c","name":"JSON Parsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["909d7654.dae6d8","ad93a7.c66aec58"]]},{"id":"7a81aa6d.0c2644","type":"ui_dropdown","z":"43f4c521.8d7e2c","name":"","label":"","tooltip":"","place":"Select Gender","group":"7d78cc08.1f15f4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Infant","value":"Infant","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":280,"y":320,"wires":[["a7092c06.55311"]]},{"id":"df76c980.34c8e8","type":"ui_form","z":"43f4c521.8d7e2c","name":"","label":"","group":"7d78cc08.1f15f4","order":3,"width":0,"height":0,"options":[{"label":"Enter Length","value":"len","type":"number","required":true},{"label":"Enter Diameter","value":"diam","type":"number","required":true},{"label":"Enter Height","value":"hyt","type":"number","required":true},{"label":"Enter Whole weight","value":"ww","type":"number","required":true},{"label":"Enter Shucked weight","value":"sw","type":"number","required":true},{"label":"Enter Viscera weight","value":"vw","type":"number","required":true},{"label":"Enter Shell weight","value":"shellw","type":"number","required":true}],"formValue":{"len":"","diam":"","hyt":"","ww":"","sw":"","vw":"","shellw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":340,"wires":[["74c75a19.fc3fb4"]]},{"id":"a7092c06.55311","type":"function","z":"43f4c521.8d7e2c","name":"Gender","func":"var s=msg.payload;\nif(s==\"Male\"){\n    global.set(\"gender0\",0);\n    global.set(\"gender1\",1);\n}\nelse if(s==\"Infant\"){\n    global.set(\"gender0\",0);\n    global.set(\"gender1\",0);\n}\nelse if(s==\"Female\"){\n    global.set(\"gender0\",1);\n    global.set(\"gender1\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[[]]},{"id":"74c75a19.fc3fb4","type":"function","z":"43f4c521.8d7e2c","name":"input","func":"global.set(\"len\",msg.payload.len)\nglobal.set(\"diam\",msg.payload.diam)\nglobal.set(\"hyt\",msg.payload.hyt)\nglobal.set(\"ww\",msg.payload.ww)\nglobal.set(\"sw\",msg.payload.sw)\nglobal.set(\"vw\",msg.payload.vw)\nglobal.set(\"shellw\",msg.payload.shellw)\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":240,"wires":[["a53eb1f3.12c57"]]},{"id":"ad93a7.c66aec58","type":"ui_text","z":"43f4c521.8d7e2c","group":"7ef23b42.6f16c4","order":2,"width":0,"height":0,"name":"","label":"age","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":280,"wires":[]},{"id":"7d78cc08.1f15f4","type":"ui_group","z":"","name":"Give inputs","tab":"be514c86.d3bb1","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ef23b42.6f16c4","type":"ui_group","z":"","name":"Abalone Age","tab":"be514c86.d3bb1","order":2,"disp":true,"width":"6","collapse":false},{"id":"be514c86.d3bb1","type":"ui_tab","z":"","name":"Age prediction","icon":"dashboard","disabled":false,"hidden":false}]